.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #000000, #1b2735 400px, #141414);
    background: linear-gradient(to bottom, #000000, #3f0d40 400px, #1c1c1c);
    background: linear-gradient(to bottom, #000000, #b20710 400px, #000000);
    background: linear-gradient(to bottom, #141414, #1c1c1c 400px, #000000); */
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
}

.banner {
    height: 400px;
    display: grid;
    grid-template-columns: 5fr 7fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
}
